<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>旧时光 | Time 陈嘉扬's 博客</title>
    <link rel="bookmark"  type="image/x-icon"  href="/assets/img/favicon.ico"/>
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/amazeui.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <style>
        h4{
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>
<body>

<div class="row">
    <img src="/assets/img/404-bg.jpg" style="width: 100%;">
    <h4>你来到了没有开拓的荒原</h4>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/amazeui.js"></script>
<script src="/static/js/amazeui.widgets.helper.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/life.js"></script>
</body>
</html>