<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>旧时光 | Time 陈嘉扬's 博客</title>
    <link rel="bookmark"  type="image/x-icon"  href="/assets/img/favicon.ico"/>
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/amazeui.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-md-12 col-xs-12" style="position: relative">
        <img src="/assets/img/bg1.png" class="intro-bg">
    </div>
    <div class="index-title-div">
        <p class="index-title">旧时光 | Time</p>
    </div>
    <div class="index-subtitle-div">
        <p class="index-subtitle">Something stays in your mind will someday spring up in your life</p>
    </div>
    <div style="position:absolute; z-index:2; left:36%; top:18%;">
        <div class="row connect-row">
            <div class="col-md-2 col-sm-6">
                <a class="super-link" href="https://github.com/jiayangchen" target="_blank"><i style="color: white" class="fa fa-github fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="super-link" href="https://www.linkedin.com/in/%E5%98%89%E6%89%AC-%E9%99%88-04463a117" target="_blank"><i style="color: white" class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="super-link" href="https://weibo.com/u/3284056213" target="_blank"><i style="color: white" class="fa fa-weibo fa-4x" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="super-link" href="https://www.zhihu.com/people/EasonChen_7/activities" target="_blank"><img src="/assets/img/zhihu.png" class="connect-logo"></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="super-link" href="https://blog.csdn.net/chen_kkw" target="_blank"><img src="/assets/img/csdn.png" class="connect-logo-csdn"></a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-app="fireworks" ng-controller="FireworksIndexController">
    <div class="col-md-2 col-xs-12">
        <div style="margin-left: 15%">

        <div class="row hidden-xs" style="margin-top: 5%;">
            <div class="col-md-4 avatar">
                <img class="am-circle" src="/assets/img/avatar.jpeg" width="140" height="140"/>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-md-12">
                <h5 class="intro-tag" style="font-weight: bold; color:#b4b4b4; cursor: pointer"><a href="/aboutme" style="text-decoration:none; color:#b4b4b4;"><span class="aboutme">About Me</span></a></h5>
            </div>
            <div class="col-md-12">
                <hr class="divider">
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-md-12 intro">
                <p class="intro-sentence">{{introduction}}</p>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-md-12">
                <h5 class="intro-tag" style="font-weight: bold;color:#b4b4b4;">Recent Blog</h5>
            </div>
            <div class="col-md-12">
                <ul class="am-list recent-blog-list">
                    <li ng-repeat="item in recentBlog"><a href="#" class="am-text-truncate">{{item.blogTitle}}</a></li>
                </ul>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-md-12">
                <h5 class="popular-tag">Popular Tag</h5>
            </div>
            <div class="col-md-12">
                <hr class="divider">
            </div>
            <div class="col-md-12">
                <button ng-repeat="tag in tagList" class="btn btn-default btn-sm btn-tag">{{tag}}</button>
            </div>
        </div>
        </div>
        <div class="row hidden-xs" style="text-align: center; margin-top: 10%;">
            <div class="col-md-12">
                <span class="blog-auth">你是第 <b>905</b> 位访问本站的小伙伴</span>
            </div>
            <div class="col-md-12">
                <span class="blog-auth">Copyright © 旧时光 | Time 2018</span>
            </div>
            <div class="col-md-12">
                <span class="theme-auth">Theme <a href="https://github.com/jiayangchen" target="_blank">Fireworks</a> By Jiayang</span>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 twoPart">
        <div>
        <div class="row">
            <div class="col-md-8">
                <div class="btn-group header-btn-group" role="group" aria-label="...">

                    <div class="btn-group hidden-xs" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-calendar" aria-hidden="true"></i> 归档
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in dateList">
                                <a>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{item.date}}
                                        </div>
                                        <div class="col-md-2">
                                            <span class="am-badge am-badge-primary">{{item.number}} 篇</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-tag" aria-hidden="true"></i> 标签
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Java</a></li>
                            <li><a href="#">数据库</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <ul class="am-list am-list-border blogList">
                <li ng-repeat="x in titleList" style="vertical-align: middle;">
                    <div class="row">
                        <div class="col-md-9 col-xs-9" style="margin-top: 2.5%;">
                            <a href="/blog/{{x.blogName}}" class="am-text-truncate title"><span class="blogTitle">{{x.blogTitle}}</span></a>
                        </div>
                        <div class="col-md-3 col-xs-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-9" style="margin-top: 1%;margin-bottom: 1%;">
                            <span class="blogInfo">作者：</span><span class="blogInfoContent">Jiayang</span> | <span class="blogInfo">时间：</span><span class="blogInfoContent">{{x.createTime | date:'yyyy-MM-dd'}}</span> | <span class="blogInfo">标签：</span><span class="blogInfoContent">Tag</span>
                        </div>
                        <div class="col-md-3 col-xs-3" style="margin-top: 1%;margin-bottom: 1%;">
                            <span class="tag-view-border">阅读</span><span class="tag-content">{{x.viewCount}}</span><span class="tag-favourite-border">赞</span><span class="tag-content">{{x.favouriteCount}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left: 40%;font-size: 12px;">
                <span>第 {{currentPage}} 页 / 共 {{totalPage}} 页</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="am-pagination turnPage2">
                    <li><a ng-click="preBlogList()" style="cursor: pointer;"><i class="fa fa-angle-left" aria-hidden="true" style="color: gray"></i> <span class="pageBtn">Pre</span></a></li>
                    <li><a ng-click="nextBlogList()" style="cursor: pointer;"><i class="fa fa-angle-right" aria-hidden="true" style="color: gray"></i> <span class="pageBtn">Next</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 threePart">
        <div style="margin-right: 1%">
        <div class="row" style="margin-top: 11%">
            <div class="col-md-6 col-xs-6">
                <a href="/gallery" target="_blank"><button type="button" class="am-btn am-btn-lg four-btn btn-gallery-bg"><span class="four-btn-font"><i class="fa fa-camera" aria-hidden="true"></i>&nbsp;Gallery</span></button></a>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="/life" target="_blank"><button type="button" class="am-btn am-btn-lg four-btn btn-music-bg"><span class="four-btn-font"><i class="fa fa-spinner" aria-hidden="true"></i>&nbsp;Life</span></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <a href="/project" target="_blank"><button type="button" class="am-btn am-btn-lg four-btn btn-project-bg"><span class="four-btn-font"><i class="fa fa-server" aria-hidden="true"></i>&nbsp;Project</span></button></a>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="/statistics" target="_blank"><button type="button" class="am-btn am-btn-lg four-btn btn-statistics-bg"><span class="four-btn-font"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Statistics</span></button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5 class="activity-tag" style="font-weight: bold; color:#b4b4b4; cursor: pointer"><span class="aboutme">Time line</span></h5>
            </div>
            <div class="col-md-12">
                <hr class="divider">
            </div>
        </div>

        <div class="row activity-area">
            <div class="col-md-12" ng-repeat="activity in activityList">
                <div class="cardView" style="margin-bottom: 2%">
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 2%">
                            <div class="col-md-10">
                                <span class="activity-content">{{activity.content}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%">
                        <div class="col-md-6" style="margin-bottom: 2%">
                            <span class="activity-location"> <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{activity.location}}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="activity-date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;{{activity.createTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="am-pagination turnPage1">
                <li><a ng-click="preActivity()" style="cursor: pointer;"><i class="fa fa-angle-left" aria-hidden="true" style="color: gray"></i> <span class="pageBtn">Pre</span></a></li>
                <li><a ng-click="nextActivity()" style="cursor: pointer;"><i class="fa fa-angle-right" aria-hidden="true" style="color: gray"></i> <span class="pageBtn">Next</span></a></li>
            </ul>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="warnModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="text-align: center;vertical-align: middle;">{{pageWarning}}</p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/amazeui.js"></script>
<script src="/static/js/amazeui.widgets.helper.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>